/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  padding: 0;
  margin: 0;
  color: white;
  background: rgb(0,0,0);
  background: -o-radial-gradient(circle, #000000 0%, #303030 100%);
  background: radial-gradient(circle, #000000 0%, #303030 100%);
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.canvas-container {
  position: relative;
  border: 10px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.score-container{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.game {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game span {
  margin: 5px 0;
}

.game button {
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}
